html,body{height:100%;}

.grid-custom {
  padding-left: 155px;
  margin-bottom: 50px;
}

.vinculated-candidates {
  margin-top: 10%;
}

#x-container {
  position: relative;
  overflow: auto;
  width: 100%;
}

#x-container > .x-dummy {
  padding: 25%;
}

#x-container > .x-element {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}

#table_info {
  clear: both;
}


.content { height: 100% }

.map-container  { height: 65% }
.module-grid  {  height : 35% }


#map {
  width: 100%;
  height:420px;
  /*
     height: 100%;
     height:calc(100% - 0px);   */
  min-height: 100%;
  max-height: 100%;
  z-index: 1;
}

#device-list {
  width: 100%;
  height: 80%;
}


#tracker-timeline {
  display: none;
  height: 120px;
  margin: 0px auto;
  text-align: center;
}

img[title="tracware"] {
  height: 58px;
}

img[title="tracware-top"] {
  height: 30px;
}

#device-list .dropdown .dropdown-menu {
  text-align: right;
}



.table-responsive {
  overflow: inherit;
}
.dropdown-submenu {
  position: relative;
}
.dropdown-submenu:hover .dropdown-menu {display:block}

.dropdown-submenu .dropdown-menu {
  top: 0;
  left: 98%;
  margin-top: -6px;
  display:none;
  position: absolute !important;
}

.mark-delivery {
  color: lightgrey;
}

#mark-delivery.confirmed .mark-delivery {color: rgb(66, 200, 250);}

.mark-delivery.delivered {
  color:green;
}

.mark-delivery.tracker {
  margin: -10px;
  z-index:10;
  border:1px;
}

table td.td-break-line {
  word-wrap: break-word;
  overflow-wrap: break-word;
}

table td.td-break-line div {width: 75%;}

.row-color {
  width: 16px;
  height: 16px;
  display:inline;
  float:left;
  margin-right: 6px;
}
