body *{
	font-family: "Crete Round", Georgia, arial, tahoma, verdana;
}
body{
	background-color: #e6e66;
	font-size: 2em;
}

h1,h2, h2 *,h3{
	font-weight: 700;
}

header.header-top{
	background-color: #333333;
	color: #cccccc;
}

header .eleicoes-title{
	padding: 5px 0;
	text-transform: uppercase;
}

header .menu-top{
	list-style-type: none;
	padding: 0;
	margin: 0;
}
header .menu-top li{
	padding: 3px 10px;
}
header .menu-top li a{
	color: #cccccc;
	text-transform: uppercase;
	font-size: 0.7em;
	font-family: "Open Sans", sans-serif, helvetica, tahoma;
}
header .menu-top li a:hover{
	color: #fff;
}

.clear{
	clear: both;
}

span.blue{
	color: #03a3ff;
}
span.green{
	color: #0b8342;
}
span.white{
	color: #ffffff;
}
span.yellow{
	color: #ffcc29;
}

a, a:hover{
	text-decoration: none;
}

.slide-home{
	background-color: #000;
	color: #fff;
	text-align: center;
}

.content-yellow{
	background-color: #ffcc29;
	color: #333;
	text-align: center;
}
.content-white{
	background-color: #fff;
	color: #4D4D4D;
	text-align: left;
	padding: 50px 0;
}
.content-green{
	background-color: #8cc63f;
	color: #333;
	text-align: center;
}

.slide-home p{
	margin: 0 auto;
	width: 80%;
	color: #fff;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 1);
	padding: 50px;
	text-align: center;
}
.content-yellow p,
.content-green p{
	margin: 50px auto;
	max-width: 80%;
	text-shadow: 0px 2px 2px rgba(0, 0, 0, 0.2);
}
.content-yellow p{
	font-size: 2em;
	text-transform: uppercase;
}
.home .content-yellow p{
	font-size: 1em;
	text-transform: inherit;
}
.content-green p{
	margin: 50px auto 20px auto;
}

.selectbox{
	display: inline-block;
	margin-right: 10px;
}
.selectbox .control-group{
	display: inline-block;
}
.selectbox select{
	padding: 6px 10px;
	border-radius: 4px;
	text-transform: uppercase;
	font-family: "Open Sans", Helvetica, Arial;
	font-size: 0.7em;
	border: none;
}

.content-yellow .selectbox select{
	border: 2px solid #ffefbd;
}
.content-green .selectbox select{
	border: 2px solid #b4dbb9;
}

.btn{
	text-transform: uppercase;	
	font-family: "Open Sans", Helvetica, Arial;
	font-weight: bold;
	font-size: 0.7em;
	padding: 10px 20px;
}

.btn-default{
	color: #fff;
	background-color: #333333;
	border-color: #333333;
	background-image: none;
	text-shadow: none;
	-webkit-box-shadow: none;
	box-shadow: none;
}
.btn-default:hover{
	color: #fff;
	background-color: #555555;
	border-color: #333333;
}
.btn-green{
	color: #333333;
	background-color: #8cc63f;
	border-color: #333333;
}
.btn-green:hover{
	background-color: #a0dd50;
}
.btn-yellow-green{
	color: #009245;
	background-color: #ffcc29;
	border-color: #ffcc29;
}
.btn-yellow-green:hover{
	color: #005f2d;
	background-color: #ffdb66;
	border-color: #ffcc29;
}

.btn-tse{
	color: #555;
	background-color: #ffffff;
	border: 2px solid #b4dbb9;
	padding: 5px 15px;
	border-radius: 4px;
	margin-top: -5px;
}
.btn-tse:hover{
	background-color: #fefefe;
	border-color: #555;
}

.slide-home .container{
	background-image: url('/static/images/bg-home.jpg');
	background-repeat: no-repeat;
	background-position: center center;
	min-height: 405px;
}


.bs-footer{
	background-color: #e6e66;
	
}

.bs-footer .container{
	padding: 30px 20px;
}

.content-yellow hr{
	border-top: 1px solid #ffd448;
	border-bottom: 1px solid #ecc014;
}
.content-yellow-chat{
	background-image: url('/static/images/chat-bottom.png');
	background-repeat: no-repeat;
	background-position: top center;
	height: 29px;
}

.candidato-stats{
}

.candidato-image{
	border: 8px solid #ffda63;
	overflow: hidden;
	width: 140px;
	height: 140px;
	position: relative;
}

.candidato-image img{
	width: 124px;
	margin: 0;
	position: absolute;
	left: 0;
	top: 0;
}

.candidato-info{
	text-align: left;
}
.candidato-info .item{
	display: inline-block;
	margin-right: 30px;
}

.candidato-info .item .title{
	font-size: 0.7em;
	font-family: "Open Sans", Helvetica, Arial;	
}
.candidato-info .item .value{
	font-size: 1.1em;
}
.candidato-count{
	color: #009245;
}
.candidato-count .value{
	font-size: 4em;
	line-height: 1em;
}
.candidato-count .legend{
	font-size: 0.7em;
	font-family: "Open Sans", Helvetica, Arial;	
}

.container.promessas .row{
	margin-bottom: 50px;
}
.promessa{
	padding-left: 50px;
	background-image: url('/static/images/quote.png');
	background-repeat: no-repeat;
	background-position: left top;
	min-height: 80px;
	margin: 0 20px;
}
.promessas .item a{
	text-decoration: none;
	color: #4D4D4D;
}
.promessas .item a:hover{
	text-decoration: none;
	color: #666666;
}
.promessa .content{
	padding-right: 50px;
	background-image: url('/static/images/quote.png');
	background-repeat: no-repeat;
	background-position: right bottom;
}
.promessa .content .texto{
	font-size: 0.9em;
}
.promessa .content .info{
	font-size: 0.6em;
	font-family: "Open Sans", Helvetica, Arial;	
	color: #009245;
	margin-top: 20px;
}

.processo-info .title{
	font-size: 1.5em;
	font-weight: bold;
}
.processo-info .value{
	font-size: 4em;
	font-weight: bold;
}
.processo-info .legend{
	font-size: 0.7em;
	font-family: "Open Sans", Helvetica, Arial;
}
.processo-info .texto{
	font-size: 0.8em;
	font-family: "Open Sans", Helvetica, Arial;
}
.processo-info .info{
	font-size: 0.7em;
	font-family: "Open Sans", Helvetica, Arial;
	color: #999;
}

.modal-candidato .modal-content{
	border: none;
	border-radius: 0px;
	background: url('/static/images/letter-border.png') repeat-x top left #fff;
}

.modal-candidato .modal-content .modal-body{
	background: url('/static/images/letter-border.png') repeat-x bottom right;
	padding: 35px 20px;
}

.modal-candidato .modal-header,
.modal-candidato .modal-footer{
	display: none;
}

.modal-candidato *{
	font-family: "Open Sans", Helvetica, Arial;	
}

.modal-candidato .candidato-name,
.modal-candidato .candidato-role{
	color: #009245;
}
.modal-candidato .candidato-name{
	font-size: 1.4em;
}
.modal-candidato .candidato-role{
	font-size: 0.6em;
}

.modal-candidato .info{
	margin-top: 8px;
	margin-bottom: 8px;
}
.modal-candidato .info .label{
	color: #999;
	font-size: 0.6em;
	text-align: right;
}
.modal-candidato .info .value{
	font-size: 0.6em;
}

