.map-container .slider {
  margin: 40px;
  margin-bottom: -10px;
  margin-top: 38px;
}

/* .history-slider {
   -webkit-appearance: none;
   -moz-appearance: none;
   appearance: none;
   background: transparent;
   border: 0;
   cursor: pointer;
   display: block;
   padding: 0;
   vertical-align: middle;
   width: 100%
   }

   .history-slider::-webkit-slider-runnable-track {
   width: 100%;
   background-image: -webkit-gradient(linear, left top, right top, from(#0cf), to(#06c));
   background-image: linear-gradient(90deg, #0cf, #06c);
   background-color: #0063cb;
   border: 1px solid #fff; 
   border-radius: 4px;
   display: block;
   height: 8px
   }

   .history-slider::-webkit-slider-runnable-track:focus {
   outline: none;
   }

   .history-slider::-moz-range-track {
   background-image: linear-gradient(90deg, #0cf, #06c);
   background-color: #0063cb;
   border: 1px solid #fff;
   border-radius: 4px;
   display: block;
   height: 8px
   }

   .history-slider::-moz-range-track:focus {
   outline: none
   }

   .history-slider::-ms-track {
   background: transparent;
   border-width: 22px 0;
   border-color: transparent;
   color: transparent;
   width: 100%
   }

   .history-slider::-ms-fill-lower {
   background-image: linear-gradient(90deg, #0cf, #06c);
   background-color: #0063cb;
   border: 1px solid #fff;
   border-radius: 4px;
   display: block;
   height: 8px;
   background: #0063cb
   }

   .history-slider::-ms-fill-lower:focus {
   outline: none
   }

   .history-slider::-ms-fill-upper {
   background-image: linear-gradient(90deg, #0cf, #06c);
   background-color: #0063cb;
   border: 1px solid #fff;
   border-radius: 4px;
   display: block;
   height: 8px;
   background: #0063cb
   }

   .history-slider::-ms-fill-upper:focus {
   outline: none
   }

   .history-slider::-webkit-slider-thumb {
   background-image: url(/static/img/ic_clockslide.png);
   background-position: 50%;
   background-repeat: no-repeat;
   background-color: #fff;
   border: 0;
   border-radius: 100%;
   -webkit-box-shadow: 0 0 0 8px rgba(46, 46, 46, .15);
   box-shadow: 0 0 0 8px rgba(46, 46, 46, .15);
   height: 36px;
   width: 36px;
   -webkit-appearance: none;
   appearance: none;
   margin-top: -14px
   }

   .history-slider:focus::-webkit-slider-thumb {
   -webkit-box-shadow: 0 0 0 8px rgba(0, 102, 204, .75);
   box-shadow: 0 0 0 8px rgba(0, 102, 204, .75)
   }

   .history-slider::-moz-range-thumb {
   background-image: url(/static/img/ic_clockslide.png);  
   background-position: 50%;
   background-repeat: no-repeat;
   background-color: #fff;
   border: 0;
   border-radius: 100%;
   box-shadow: 0 0 0 8px rgba(46, 46, 46, .15);
   height: 36px;
   width: 36px;
   -moz-appearance: none;
   appearance: none
   }

   .history-slider::-ms-thumb {
   appearance: none;
   margin-top: 0;
   background-image: url(/static/img/ic_clockslide.png);    
   background-position: 50%;
   background-repeat: no-repeat;
   background-color: #fff;
   border: 0;
   border-radius: 100%;
   box-shadow: 0 0 0 8px rgba(46, 46, 46, .15);
   height: 36px;
   width: 36px
   }

   .history-slider::-moz-focus-outer {
   border: 0
   }

   .history-slider:-moz-focusring {
   outline: 1px solid transparent;
   outline-offset: -1px
   } */

.history-slider-wrapper {
  padding: 0 10px;
  position: fixed;
  right: 58px;
  bottom: 50px;
  left: 10px;
  z-index: 1000
}

.history-slider-bubble {
  background-color: #fff;
  border-radius: 12px;
  -webkit-box-shadow: 0 1px 2px rgba(46, 46, 46, .25);
  box-shadow: 0 1px 2px rgba(46, 46, 46, .25);
  display: block;
  height: 24px;
  padding: 0 12px 4px;
  position: relative;
  text-align: center;
  right: 0;
  bottom: 58px;
  -webkit-transform: translateX(calc(-50% + 0px + 36px / 2));
  -ms-transform: translateX(calc(-50% + 0px + 36px / 2));
  transform: translateX(calc(-50% + 0px + 36px / 2));
  white-space: nowrap;
  width: 14em;
  -webkit-animation-name: p;
  animation-name: p;
  -webkit-animation-duration: .35s;
  animation-duration: .35s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-delay: 0;
  animation-delay: 0
}

@keyframes p {
  0% {
    opacity: 0
  }
  to {
    opacity: 1
  }
}

:hover+.history-slider-bubble {
  display: block
}

.history-slider-bubble:after {
  border-top: 10px solid #fff;
  border-right: 5px solid transparent;
  border-left: 5px solid transparent;
  content: "";
  height: 0;
  margin-top: -1px;
  margin-left: -5px;
  position: absolute;
  top: 100%;
  left: 50%;
  width: 0;
}


.slider input[type=range] {
  -webkit-appearance: none;
  width: 100%;
  margin: 7.5px 0;
}
.slider input[type=range]:focus {
  outline: none;
}
.slider input[type=range]::-webkit-slider-runnable-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 15px #000000, 0px 0px 1.5px #0d0d0d;
  background: rgba(110, 129, 155, 0.63);
  border-radius: 22.2px;
  border: 0px solid #000101;
}
.slider input[type=range]::-webkit-slider-thumb {
  box-shadow: 2px 2px 5.7px #000000, 0px 0px 2px #0d0d0d;
  border: 0px solid #000000;
  height: 22px;
  width: 23px;
  border-radius: 48px;
  background: rgba(136, 129, 162, 0.58);
  cursor: pointer;
  -webkit-appearance: none;
  margin-top: -7.5px;
}
.slider input[type=range]:focus::-webkit-slider-runnable-track {
  background: rgba(125, 142, 165, 0.63);
}
.slider input[type=range]::-moz-range-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  box-shadow: 1.5px 1.5px 15px #000000, 0px 0px 1.5px #0d0d0d;
  background: rgba(110, 129, 155, 0.63);
  border-radius: 22.2px;
  border: 0px solid #000101;
}
.slider input[type=range]::-moz-range-thumb {
  box-shadow: 2px 2px 5.7px #000000, 0px 0px 2px #0d0d0d;
  border: 0px solid #000000;
  height: 22px;
  width: 23px;
  border-radius: 48px;
  background: rgba(136, 129, 162, 0.58);
  cursor: pointer;
}
.slider input[type=range]::-ms-track {
  width: 100%;
  height: 7px;
  cursor: pointer;
  background: transparent;
  border-color: transparent;
  color: transparent;
}
.slider input[type=range]::-ms-fill-lower {
  background: rgba(98, 116, 142, 0.63);
  border: 0px solid #000101;
  border-radius: 44.4px;
  box-shadow: 1.5px 1.5px 15px #000000, 0px 0px 1.5px #0d0d0d;
}
.slider input[type=range]::-ms-fill-upper {
  background: rgba(110, 129, 155, 0.63);
  border: 0px solid #000101;
  border-radius: 44.4px;
  box-shadow: 1.5px 1.5px 15px #000000, 0px 0px 1.5px #0d0d0d;
}
.slider input[type=range]::-ms-thumb {
  box-shadow: 2px 2px 5.7px #000000, 0px 0px 2px #0d0d0d;
  border: 0px solid #000000;
  height: 22px;
  width: 23px;
  border-radius: 48px;
  background: rgba(136, 129, 162, 0.58);
  cursor: pointer;
  height: 7px;
}
.slider input[type=range]:focus::-ms-fill-lower {
  background: rgba(110, 129, 155, 0.63);
}
.slider input[type=range]:focus::-ms-fill-upper {
  background: rgba(125, 142, 165, 0.63);
}
