<div>
  <div class="rows">
    <h2 class="sub-header">Comandos cadastrados</h2>
    <div class="table-responsive">
      [%IF tracker_command_layouts.size > 0%]
	<table class="table table-striped">
	  <thead>
	    <tr>
	      <th>Nome</th>
	      <th>Comando</th>
	      <!--<th>Cliente</th>-->
	      <th>Ativo</th>
	      <th>Ações</th>
	    </tr>
	  </thead>
	  <tbody>
	    [%FOREACH t IN tracker_command_layouts %]
	      <tr>
		<td>[%t.name%]</td>
		<td>[%t.command%]</td>
		[%IF t.is_active%]
		  <td>Sim</td>
		[%ELSE%]
		  <td>Não</td>
		[%END%]
		<td>
		  <a href="tracker-command-layout/[%t.id%]">Editar</a> |
		  <a href="/form/tracker_command_layout/remove/[%t.id%]">Excluir</a>
		</td>
	      </tr>
	    [%END%]
	  </tbody>
	</table>
      [%ELSE%]
	<h4>Nenhum comando cadastrado</h4>
      [%END%]

      <a href="tracker-command-layout/new">
	<button type="button" class="btn btn-primary pull-right">Adicionar novo comando</button>
      </a>
    </div>
    [%PROCESS pagination.tt  %]
  </div>
</div>
