<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Grupos de equipamentos</div>
  <div class="panel-body">
    <p>Os grupos de equipamentos definidos aqui são exibidos simultaneamente no mapa</p>
  </div>

  <!-- Table -->
  <table class="table">
    <a class="btn btn-default " href="[% c.uri_for('new') %]" role="button">Novo grupo</a>
    <thead>
      <tr>
	<th>Nome</th>
	<th>Descrição/Nota</th>
	<th>Equipamentos</th>
	<th>Criado em</th>
	<th>Ações</th>
      </tr>
    </thead>
    <tbody>
      [% FOR group IN results %]
      <tr>
	<td>[% group.name  %]</td>
	<td>[% group.description%]</td>
	<td>[% group.tracker_count %]</td>
	<td>[% format_datetime(group.created_at) %]</td>
	<td>

	  <form class="form-inline" method="POST" action="[% c.uri_for_action(c.controller.action_for('remove'), [group.id]) %]">
	    <a type="button" class="btn btn-primary" href="[% c.uri_for_action(c.controller.action_for('view'), [group.id]) %]">Editar</a>	    
	    <button type="submit" class="btn btn-danger">Remover</button>
	  </form>
	</td>
      </tr>
      [% END %]
    </tbody>
  </table>
</div>
