<div>
<div class="rows">
<h2 class="sub-header">Veículos cadastrados</h2>
<div class="table-responsive">
	[%IF vehicles.size > 0%]
		<table class="table table-striped">
			<thead>
				<tr>
					<th>Modelo</th>
					<th>Placa</th>
					<th>Ações</th>
				</tr>
			</thead>
			<tbody>
				[%FOREACH vehicle IN vehicles %]
					<tr>
						<td>[%vehicle.vehicle_model.model%]</td>
						<td>[%vehicle.car_plate%]</td>
						<td>
							<a href="/admin/vehicle/history/[%vehicle.id%]">Posicionar</a> |
							<a href="/admin/vehicle/[%vehicle.id%]/manage">Editar</a> |
							<a href="/admin/vehicle/[%vehicle.id%]/manage">Excluir</a>
						</td>
					</tr>
				[%END%]
			</tbody>
		</table>
	[%ELSE%]
		<h4>Nenhum veículo cadastrado</h4>
	[%END%]
	
	<a href="/admin/vehicle/new">
	<button type="button" class="btn btn-primary pull-right">Adicionar novo veículo</button>
	</a>
</div>
[%PROCESS pagination.tt  %]
</div>
</div>