<div>
  <div class="rows">
    <h2 class="sub-header">Usuários cadastrados</h2>
    <div class="table-responsive">
      [%IF business_unity_users.size > 0%]
        <table class="table table-striped">
          <thead>
            <tr>
              <th>Nome</th>
              <th>E-mail</th>
              <th>Perfil</th>
              <th>Ações</th>
            </tr>
          </thead>
          <tbody>
            [%FOREACH user IN business_unity_users %]
              <tr>
                <td>[%user.user.name%]</td>
                <td>[%user.user.email%]</td>
                <td>[%user.user.user_roles.0.role.name%]</td>
                <td>
                  <a href="[% c.uri_for_action(c.controller('AdminUnity::BusinessUnity::User').action_for('edit'), [business_unity_obj.id, user.user.id] ) %]">Editar</a>
                </td>
              </tr>
            [%END%]
          </tbody>
        </table>
      [%ELSE%]
        <h4>Nenhum usuário cadastrado</h4>
      [%END%]

      <a href="[% c.uri_for_action(c.controller('AdminUnity::BusinessUnity::User').action_for('add'), [business_unity_obj.id] ) %]">
        <button type="button" class="btn btn-primary pull-right">Adicionar novo usuário</button>
      </a>
    </div>
    [%PROCESS pagination.tt  %]
  </div>
</div>
