[%-CALL assets.include("js/forms.js")%]
[%-CALL assets.include("js/admin.js")%]
[%-CALL assets.include("js/utils.js")%]

<div class="panel">
  <div class="panel-body">
    <div class="row">
      <h2 class="sub-header">
        [% IF tracker_type %]Editar tipo de rastreador
        [% ELSE %] Novo tipo de rastreador
        [% END %]
      </h2>
      <form role="form" method="[% IF tracker_type %]PUT[% ELSE %]POST[% END %]" class="form-horizontal" action="/admin/tracker-type/[%tracker_type.id%]">
        [%input_text('name','Nome', value => tracker_type.name, req=>0)|none%]
        [%input_text('code','Código', value => tracker_type.code, req=>0)|none%]
        [%input_text('days','Dias de expiração', value => tracker_type.days, req=>0)|none%]
        [%input_text('battery_level','Nível de bateria', value => tracker_type.battery_level, req=>0)|none%]	
	
        [%input_text('low_battery_level_alert','Alerta de bateria baixa em', value => tracker_type.low_battery_level_alert, req=>0)|none%]
        
	[% checkbox('has_temperature_sensor','Possui sensor de temperatura?', checked => tracker_type.has_temperature_sensor || 0, req=>0)|none%]
        [% checkbox('has_movement_sensor','Possui sensor de movimento?', checked => tracker_type.has_movement_sensor || 0, req=>0)|none%]
        [% checkbox('has_gps_sensor','Possui GPS?', checked => tracker_type.has_temperature_sensor || 0, req=>0)|none%]
        [% checkbox('has_rf_sensor','Possui RF?', checked => tracker_type.has_temperature_sensor || 0, req=>0)|none%]
        <button type="submit" class="btn btn-success pull-right">Salvar</button>
      </form>
    </div>
    <div class="row">
      <h2 class="sub-header">Tipos cadastrados</h2>
      <div class="table-responsive">
	[%IF tracker_types.items.size > 0%]
	  <table class="table table-striped">
	    <thead>
	      <tr>
		<th>Nome</th>
		<th>Código</th>
		<th>Dias de expiração</th>
		<th>Nivel de bateria</th>		
		<th>Alerta de Nivel de bateria</th>
		<th>Sensor de temperatura?</th>
		<th>Sensor de movimento?</th>
		<th>GPS?</th>
		<th>RF?</th>
		<th>Ações</th>
	      </tr>
	    </thead>
	    <tbody>
	      [%FOREACH t IN  tracker_types.items %]
		<tr>
		  <td>[%t.name%]</td>
		  <td>[%t.code%]</td>
		  <td>[%t.days OR '--'%]</td>
		  <td>[% t.battery_level %]% </td>		  
		  <td>[% t.low_battery_level_alert %]% </td>

		  <td>[%IF t.has_temperature_sensor%]
		    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		  [% ELSE %]
		    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		  [% END %]
		  </td>

		  <td>[%IF t.has_movement_sensor %]
		    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		  [% ELSE %]
		    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		  [% END %]
		  </td>
		  

		  <td>[%IF t.has_gps_sensor%]
		    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		  [% ELSE %]
		    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		  [% END %]
		  </td>
		  
		  <td>[%IF t.has_rf_sensor%]
		    <span class="glyphicon glyphicon-ok" aria-hidden="true"></span>
		  [% ELSE %]
		    <span class="glyphicon glyphicon-remove" aria-hidden="true"></span>
		  [% END %]
		  </td>
		  
		  
		  
		  <td>
		    <a href="/admin/tracker-type/[%t.id%]/edit">Editar</a> |
		    <a href="/admin/tracker-type/[%t.id%]/remove">Excluir</a>
		  </td>
		</tr>
	      [%END%]
	    </tbody>
	  </table>
	[%ELSE%]
	  <h4><em>(Nenhum tipo cadastrado ainda)</em></h4>
	[%END%]

	<!-- <a href="./command/add">
	     <button type="button" class="btn btn-primary pull-right">Adicionar novo comando</button>
	     </a> -->
      </div>
      [%PROCESS pagination.tt  %]
    </div>

  </div>

</div>
</div>
