body {
    overflow-y: scroll;
}

.sidebar-nav {
    padding: 9px 0;
}
.btn-right {
    float:right;
}

a.del {
    font-size: 0.8em;
    color: #E00;
    display: inline-block;

}
i.del{
    color: #E00;
}
a.edit {
    font-size: 0.8em;
    color: #0033cc;
    display: inline-block;
}
i.edit{
    color: #0033cc;
}

.table a:hover{
	text-decoration: none;
}

@media (max-width: 980px) {
    /* Enable use of floated navbar text */
    .navbar-text.pull-right {
        float: none;
        padding-left: 5px;
        padding-right: 5px;
    }
}

.side-menu {
	list-style: none;
	margin-left: 0;
	padding: 0;
}
.side-menu>li {
	margin: 0;
	padding: 0;
   	background-color: #000;
    background-color: rgba(0,0,0,.3);
	padding: 10px 15px;
}

.side-menu a {
    color: white;
    text-shadow: 0 0 0;
}
.side-menu a:hover, .side-menu a:focus {
   	color: #e0e0e0;
	text-decoration: none;
}

.side-menu li.active{
    background-color: #666;
    background-color: rgba(0,0,0,.5);
}

.side-menu li.active a {
    font-weight: bold;
}

.side-menu .nav-header {
    background-color: #666;
    background-color: rgba(0,0,0,.15);
	color: #000;
}

/* Large desktop */
@media (min-width: 1200px) {
}
@media (min-width: 768px) and (max-width: 979px) {
}
/* Landscape phone to portrait tablet */
@media (max-width: 767px) {
}