[%-CALL assets.include("js/forms.js")%]
[%-CALL assets.include("js/address.js")%]
<div>
	<div class="rows">
	<h2 class="sub-header">Adicionar cliente</h2>
	<form role="form" method="post" class="form-horizontal" action="/admin-unity/form/customer">
		[%input_text('corporate_name','Razão social', req=>1)|none%]
		[%input_text('fancy_name','Nome fantasia', req=>1)|none%]
		[%input_text('register','CNPJ', classes=>['form-control', 'cnpj'], req=>0)|none%]
		
		[%input_text('email','E-mail', placeholder => 'Este e-mail será usado para acessar o sistema', req=>1)|none%]
		[%input_text('website','Website', req=>0)|none%]
		[%input_text('phone','Telefone', req=>1, classes=>['form-control', 'mobile_phone'])|none%]
		[%input_text('mobile_phone','Celular', req=>1, classes=>['form-control', 'mobile_phone'])|none%]
		
		[%input_text('postal_code','CEP', req=>1, classes=>['form-control', 'postal_code'])|none%]
		[%input_text('address','Endereço', req=>1)|none%]
		[%input_text('neighborhood','Bairro', req=>1)|none%]
		[%input_text('number','Número', req=>1)|none%]
		[%input_text('complement','Complemento', req=>1)|none%]
		[%select_field('state_id','Estado', array => select_states, req=>1)|none%]
		[%select_field('city_id','Cidade', array => select_cities, req=>1)|none%]
		
		<button type="submit" class="btn btn-success pull-right">Salvar</button>
	</form>
	</div>
</div>