[%-CALL assets.include("js/forms.js")%]
[%-CALL assets.include("js/address.js")%]
<div>
	<div class="rows">
	<h2 class="sub-header">Editar cliente</h2>
	<form role="form" method="post" class="form-horizontal" action="/admin-unity/form/customer/[%customer_obj.id%]">
		[%input_text('corporate_name','Razão social', value=>customer_obj.corporate_name, req=>1)|none%]
		[%input_text('fancy_name','Nome fantasia', value=>customer_obj.fancy_name, req=>1)|none%]
		[%input_text('register','CNPJ', classes=>['form-control', 'cnpj'], value=>customer_obj.register, req=>0)|none%]
		
		[%input_text('email','E-mail', placeholder => 'Este e-mail será usado para acessar o sistema', value=>customer_obj.email, req=>1)|none%]
		[%input_text('website','Website', value=>customer_obj.website, req=>0)|none%]
		[%input_text('phone','Telefone', req=>1, classes=>['form-control', 'mobile_phone'], value=>customer_obj.phone)|none%]
		[%input_text('mobile_phone','Celular', req=>1, classes=>['form-control', 'mobile_phone'], value=>customer_obj.mobile_phone)|none%]
		
		[%input_text('postal_code','CEP', req=>1, classes=>['form-control', 'postal_code'], value=>customer_obj.address.postal_code)|none%]
		[%input_text('address','Endereço', req=>1, value=>customer_obj.address.address)|none%]
		[%input_text('neighborhood','Bairro', value=>customer_obj.address.neighborhood, req=>1)|none%]
		[%input_text('number','Número', value=>customer_obj.address.number, req=>1)|none%]
		[%input_text('complement','Complemento', value=>customer_obj.address.complement, req=>1)|none%]
		[%select_field('state_id','Estado', array => select_states, req=>1, value=>customer_obj.address.state_id)|none%]
		[%select_field('city_id','Cidade', array => select_cities, req=>1, value=>customer_obj.address.city_id)|none%]
		
		<button type="submit" class="btn btn-success pull-right">Salvar</button>
	</form>
	</div>
</div>