[%-CALL assets.include("js/forms.js")%]
[%-CALL assets.include("js/utils.js")%]

<div>
  <div class="rows">
    <h2 class="sub-header">Adicionar módulo</h2>
    <form role="form" method="post" class="form-horizontal" action="/admin-unity/form/tracker">
      [%input_text('code','Nº de Série', req=>1)|none%]
      [%select_field('customer_id','Cliente', array => select_customers, req=>1)|none%]
      [%input_text('car_plate','Veículo', req=>0, placeholder=>'Procure pela placa do veículo')|none%]
      <div id="vehicles"></div>
      [%IF session_business_unity.size > 0%]
	<input type="hidden" id="business_unity_id" name="business_unity_id" value="[%session_business_unity.id%]"></input>
      [%ELSE%]
	[%select_field('business_unity_id','Filial', array => select_business_units, req=>0)|none%]
      [%END%]
      [%select_field('tracker_status_id','Status', array => select_status, req=>1)|none%]
      [%select_field('network_supplier_id','Operadora de telefonia', array => select_network_supplier, req=>0)|none%]
      <button type="submit" class="btn btn-success pull-right">Salvar</button>
    </form>
  </div>
</div>
