<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="">
    <meta name="author" content="Dashboard">
    <meta name="keyword" content="Dashboard, Bootstrap, Admin, Template, Theme, Responsive, Fluid, Retina">

    <title>[% template.title or site.title or title or 'Trackware' %]</title>
    <link href='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>

    [%-CALL assets.include("css/admin.css")%]
    <!-- Bootstrap core CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />

    <!-- Custom styles for this template -->
    [%-CALL assets.include("theme/css/style.css")%]
    [%-CALL assets.include("theme/css/style-responsive.css")%]
    <!-- HTML5 shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="/static/js/html5shiv.js"></script>
      <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    [%-CALL assets.include("js/jquery.maskedinput.js")%]
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  [%- assets.export("css") |none-%]

  <body class="admin"><script>var actions=[];</script>

    <section id="container" >

      <header class="header black-bg">
        <div class="sidebar-toggle-box">
          <div class="fa fa-bars tooltips" data-toggle="collapse" data-target="#sidebar" data-placement="right" data-original-title="Toggle Navigation"></div>
        </div>
        <!--logo start-->
        <a href="index.html" class="logo"><img src="/static/img/logo-5197f8aa.svg" title="tracware" alt="tracware"></a>
        <div class="top-menu">
	  [% INCLUDE 'parts/top-right.tt' %]
        </div>
      </header>


      [%#INCLUDE parts/admin_unity_user_menu.tt%]

      <!--sidebar-->
      <aside id="sidebar"  aria-expanded="true" class="collapse in">
        <div   class="nav-collapse collapse">
          <!-- sidebar menu start-->
          <ul class="sidebar-menu" id="nav-accordion nav navbar-nav">

            <h5 class="centered">[%user_name%]</h5>
            [%INCLUDE parts/admin_unity_side_menu.tt%]	    

          </ul>
          <!-- sidebar menu end-->

        </div>
      </aside>
      
      <!--sidebar end-->

      <section id="main-content">
        <section class="wrapper">

          [%IF error_msg %]<div class="alert alert-error"><p>[%error_msg%]</p></div>[%END%]
          [%IF status_msg %]<div class="alert alert-success"><p>[%status_msg%]</p></div>[%END%]

          [%content|none%]
        </section>
      </section>

      <!--main content end-->
      <!--footer start-->
      <!-- <footer class="site-footer">
           <div class="text-center">
           [% current_year() %]- Tracware
           <a href="#" class="go-top">
           <i class="fa fa-angle-up"></i>
           </a>
           </div>
	   </footer> -->
      <!--footer end-->
    </section>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datetimepicker/4.17.47/js/bootstrap-datetimepicker.min.js"></script>

    <script type="text/javascript">
      $(function () {
	$('#sidebar').on('hidden.bs.collapse', function(){
	  $('#main-content').css({ 'margin-left' : 0});
	});

	$('#sidebar').on('show.bs.collapse', function(){
	  $('#main-content').css({ 'margin-left' : '210px'});
	});

      });
    </script>


    [% assets.export("js")|none %]

  </body>
</html>
