<div>
  <div class="rows">
    <h2 class="sub-header">Registrar comando</h2>
    <form role="form" method="post" class="form-horizontal" action="">
      [%input_text('name','Nome', req=>1)|none%]
      [%input_text('message_template','String de comando', req=>1)|none%]
      [%IF session_business_unity.size > 0%]
	<input type="hidden" name="business_unity_id" value="[%session_business_unity.id%]"></input>
      [%END%]
      <button type="submit" class="btn btn-success pull-right">Salvar</button>
    </form>
  </div>
</div>
