[%-CALL assets.include("js/forms.js")%]
[%-CALL assets.include("js/address.js")%]
<div>
	<div class="rows">
	<h2 class="sub-header">Editar filial</h2>
	<form role="form" method="post" class="form-horizontal" action="/admin/form/business_unity/[%business_unity_obj.id%]">
		[%input_text('corporate_name','Razão social', req=>1, value=>business_unity_obj.corporate_name)|none%]
		[%input_text('fancy_name','Nome fantasia', req=>1, value=>business_unity_obj.fancy_name)|none%]
		[%input_text('register','CNPJ', value=>business_unity_obj.register, classes=>['form-control', 'cnpj'], req=>1)|none%]
		[%input_text('website', 'Website', value=>business_unity_obj.website, req=>0)|none%]
		[%input_text('email','E-mail', value=>business_unity_obj.email,req=>1)|none%]
		[%input_text('phone','Telefone', value=>business_unity_obj.phone, req=>1, classes=>['form-control', 'mobile_phone'])|none%]
		[%input_text('phone_2','Telefone secundário', value=>business_unity_obj.phone_2, req=>1, classes=>['form-control', 'mobile_phone'])|none%]
		[%input_text('domain','Nome para domínio', value=>business_unity_obj.domain, req=>1)|none%]
		
		[%input_text('postal_code','CEP', value=>business_unity_obj.address.postal_code, req=>1, classes=>['form-control', 'postal_code'])|none%]
		[%input_text('address','Endereço', value=>business_unity_obj.address.address, req=>1)|none%]
		[%input_text('neighborhood','Bairro', value=>business_unity_obj.address.neighborhood, req=>1)|none%]
		[%input_text('number','Número', value=>business_unity_obj.address.number, req=>1)|none%]
		[%input_text('complement','Complemento', value=>business_unity_obj.address.complement, req=>1)|none%]
		[%select_field('state_id','Estado', value=>business_unity_obj.address.city.state_id, array => select_states, req=>1)|none%]
		[%select_field('city_id','Cidade', value=>business_unity_obj.address.city.id, array => select_cities, req=>1)|none%]
		<input type="hidden" name="country_id" value="1"></input>
		<div id="coalition"></div>
		<a href='/admin/user/new?business_unity_id=[%business_unity_obj.id%]'><button type="button" class="btn btn-primary">Adicionar usuário</button></a>
		<a href='/admin/user?business_unity_id=[%business_unity_obj.id%]'><button type="button" class="btn btn-primary">Listar usuários</button></a>
		<button type="submit" class="btn btn-success pull-right">Salvar</button>
	</form>
	</div>
</div>