
<div class="panel panel-default">
  <div class="panel-heading">Gerenciamento e cadastro de equipamentos</div>
  <div class="panel-body">
    [% INCLUDE 'admin/tracker/search_bar.tt' %]
  </div>
</div>
