<ul class="nav nav-tabs" role="tablist">
  <li role="presentation" class="active"><a aria-controls="recebidas" role="tab" data-toggle="tab" href="#recebidas">Recebidas</a></li>
  <li role="presentation"><a aria-controls="enviadas" role="tab"  data-toggle="tab" href="#enviadas">Enviadas</a></li>
</ul>

<div class="tab-content">
  <div role="tabpanel" class="tab-pane active" id="recebidas">
    <h3>Ultimas mensagens do equipamento <em>[% tracker_obj.phone_number %]</em></h3>
    <table class="table table-striped">
      <thead>
	<th>Horário</th>
	<th>Mensagem</th>
      </thead>

      <tbody>
	[% FOREACH tp IN  messages.tracker_positions %]
	  <tr>
	    <td>[% tp.event_date %]</td>
	    <td>[% tp.lbs_raw %]</td>
	  </tr>
	[%END%]
      </tbody>
      
    </table>
  </div>
  <div role="tabpanel" class="tab-pane" id="enviadas">
    <h3>Ultimas mensagens enviadas ao equipamento <em>[% tracker_obj.phone_number %]</em></h3>
    <table class="table table-striped">
      <thead>
	<th>Horário</th>
	<th>Mensagem</th>
      </thead>

      <tbody>
	[% FOREACH tp IN  smses.results %]
	  <tr>
	    <td>[% tp.created_at %]</td>
	    <td>[% tp.message %]</td>
	  </tr>
	[%END%]
      </tbody>
      
    </table>

  </div>
</div>


