<div class="panel panel-default">
  <div class="panel-body">
    [% UNLESS removed.error %]
      <p>Equipamento removido com sucesso</p>
    [% ELSE %]
      <p>[% removed.error %]</p>
    [% END %]
    <a type="button" class="btn btn-success" href="/admin/tracker" role="button">Voltar</a>
  </div>
</div>
